.infoCardContainer {
  /*changes the stype of the background LARGE BLUE SQUARE*/
  background-color: #000d53;
  max-height: 90vh;
  border: 20px #000d53 solid;
  width: fit-content;
  overflow: auto;
  border-radius: 9px;
}

/* width */
#like-scroll::-webkit-scrollbar {
  width: 9px;
}

/* Track */
#like-scroll::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
#like-scroll::-webkit-scrollbar-thumb {
  background: #7d9aff;
}

.searchBox {
  margin-left: 7%;
  margin-top: 7%;
  border-radius: 7px;
  background-color: lightgrey;
  border: none;
}

.ais-InfiniteHits-loadMore {
  background-color: lightgrey;
  border-radius: 7px;
  border: none;
}
