.infoCard {
  /*This is the main background for the card WHITE PART*/
  background-color: white;
  width: 45vw;
  height: 20%;
  border-radius: 7px;
  padding: 5%;
  /* margin-top: 5%; */
  color: #000d53;
}
.override {
  border: none !important;
  margin-right: -5px !important;
}
h1 {
  font-size: 30px !important;
}
.shelterType {
  font-size: 20px !important;
}
h3 {
  font-size: 20px !important;
}
.textGrid {
  /*This Aligns the NAME OF THE SHELTER to the right*/
  text-align: right;
}

.occupancyGrid {
  /*This Aligns the occupancy to the left*/ 
  text-align: left;
  border-left: 3px #000d53 solid;
}

/* .col-md-3 {
} */
@media (max-width: 900px) {
  .infoCard {
    width: 80vw;
  }
  .textGrid,
  .occupancyGrid {
    text-align: center;
  }
  .occupancyGrid {
    border-left: none;
    /* border-top: 4px #000d53 solid; */
  }
}

.submitBtn {
  /*This is the location button styling*/
  background-color: #7d9aff;
  border: none;
  color: white;
  font-size: 20px !important;
  border-radius: 7px;
  width: 15vw;
  height: 50px;
}

.submitBtn:focus{
  background-color: rgb(169, 224, 98);;
}


.shelterType {
  /*Displays the shelter type to the user*/
  font-size: 20px;
}
/* TODO: ADD PADDING */
.occupancygreen {
  padding-right: 5px;
  fill: green;
}

.occupancyred {
  margin-right: 5px;
  fill: red;
}

.occupancygray {
  padding-right: 2%;
  fill: gray;
}
