.infoCard{                                   /*This is the main background for the card WHITE PART*/
    background-color: white;
    width: 100%;
    height: 42%;
    margin-bottom: 5%;
    border-radius: 7px;
    /*padding: 0;*/
}

.textGrid{                                  /*This Aligns the NAME OF THE SHELTER to the right*/
    text-align: right;
    margin-top: 7%;
}

.occupancyGrid{                             /*This Aligns the occupancy to the left*/ /*LONG NAMES FOR FUCKING UHHHHHHHHHHHHHHHHHHHHHHHHH HOMELESS SHELTERS BREAKS CODE*/
    text-align: left;
    margin-top: 7%;
    border-left: 4px #000D53 solid;

}

.col-md-3{
}

.submitBtn {                                /*This is the location button styling*/
    background-color: #7D9AFF;
    border: none;
    color:  white;
    font-size: 20px !important;
    border-radius: 7px;
    width: 300px;
    height: 50px;
}

.shelterType{                                /*Displays the shelter type to the user*/
    font-size: 20px;
}

.occupancygreen{
    padding-right: 2%;
    fill: green;
}

.occupancyred{
    padding-right: 2%;
    fill: red;
}

.occupancygray{
    padding-right: 2%;
    fill: gray;
}
