.root {
  --primary-color: #fffcf5;
  --secondary--color: #000d53;
  --lightblue: #7d9aff;
}

@media (prefers-color-scheme: dark) {
  root: {
  }
}

.App {
  /* text-align: center; */
  background-color: #fffcf5;
  font-family: "Work Sans", sans-serif;
  padding: 0 60px;
  max-width: 100%;
  margin-right: none;
  /* float: left; */
}
.Header {
  text-align: center;
  padding-top: 20px;
  font-size: 50px !important;
  color: #000d53;
  font-weight: 600;
}
.emergencyDisclaimer {
  text-align: right;
  color: #7d9aff;
  float: right;
}

@media (max-width: 900px) {
  .emergencyDisclaimer {
    text-align: center;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.App-header {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
